<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    ​
    <property name="CONSOLE_LOG_PATTERN"
              value="%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}) [%X{correlationId}]: %msg%n%throwable"/>
    <appender name="http" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
                <url>${SPLUNK_URL}</url>
                <token>${SPLUNK_TOKEN_VIPS}</token>
                <source>rsbc-digital-forms-viirp</source>
                <sourcetype>rsbc-digital-forms-viirps-logs</sourcetype>
                <middleware>HttpEventCollectorUnitTestMiddleware</middleware>
                <disableCertificateValidation>true</disableCertificateValidation>
                <batch_size_count>1</batch_size_count>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg</pattern>
                </layout>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="http"/>
    </root>
</configuration>